<!Doctype HTML>
<html>
  <head>
    
  </head>
  <body>
    <p> ticker name : {{ d['symbol'] }} </p>
    <p> Today's open price : {{ d['open_price'] }} </p>
 <!--    Current Price : {{ d['curr_price'] }}
   Change price : {{ d['change_price'] }}
   Change percent : {{ d['change_percent'] }}
   Market cap : {{ d['marketcap'] }}
   Book value : {{ d['bookvalue'] }}
   Dividend : {{ d ['dividend'] }}
   Last Dividend paydate : {{ d['dividend_paydate] }}
   Dividend yield : {{ d['dividend_yield'] }}  --> 
  </body>
</html>