<!DOCTYPE html>
<html lang = "en">
  <head>
    
  </head>
  
  <body>
    <p>
      company name : {{ vals[0] }}
    </p>
    <p>
      current price :{{ vals[2] }}
    </p>
    <p>
      open price : {{ vals[1] }}
    </p>
    <p>
      change price : {{ vals[3] }}
    </p>
    <p>
      change percentage : {{ vals[4] }}
    </p>
    <p>
      Fundementals
      <br/><br/>
      PE ratio : {{ pe }}
      <br/>
      Market cap : {{ vals[5] }}
      <br/>
      Book value : {{ vals[6] }}
      <br/>
      Dividend : {{ vals[7] }}
      <br/>
      Last Dividend Paydate : {{ vals[8] }}
      <br/>
      Dividend yield : {{ vals[9] }} 
      <br/>
      Current Eps estimates : {{ vals[10] }}
    </p>
  </body>
</html>